.jumbotron {
	background: #33BEFF;
	color: black;
	margin-top:50px;
}

footer {
	padding: 10px 10 px 0 10px;
	background-color: #33FF80;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon
{
	padding-right: 10px;
}

.img-fluid {
    width: 5000px;
    height: 300px;
}

.tab-content{
padding-top: 20px
}



